@model IEnumerable<Reports.Models.Param>

@{
    ViewData["Title"] = "Query Parameters";
}

@using (@Html.BeginForm("Export", "Home", FormMethod.Post))
{
<input type="hidden" name="" value="@ViewBag.queryId" />
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Field Type</th>
            <th scope="col">Identifier</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.type)</td>
            <td>@Html.DisplayFor(modelItem => item.value)</td>
            <td>
                <input type="@item.type" name="@item.value" value="@item.defaults" />
            </td>
        </tr>
            }
    </tbody>
</table>
<hr />
<button type="submit" class="btn btn-primary">Submit</button>
}